---
layout: default
title: Pfadi Toolbox
---
<section id="news">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <h2>Neuste Tools</h2>
        <ul class="list-unstyled">
          {% for post in site.posts offset:0 limit:3 %}
            <li id='{{ post.id | slugify }}' class="mb-5">
              <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a> -
                <small>{{ post.date | date: '%d.%m.%Y' }}</small></h3>
              <p>
                {{ post.excerpt | strip_html }}
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="tools">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        {% assign sorted_categories = site.categories | sort %}
        {% for cat in sorted_categories %}
        <div class="category">
          <h2>{{ cat.first | capitalize }}</h2>
          <ul class="posts">
            {% for post in cat.last %}
            <li id='{{ post.id | slugify }}'>
              <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>

              <p>
                {{ post.excerpt | strip_html }}
              </p>

              <div class="row">
                <div class="col-md">
                  <span class="fa fa-link"></span> <a href="{{ post.link }}">{{ post.link | truncate: 40, '...' }}</a>
                </div>
                <div class="col-md text-right">
                  <span class="fa fa-home"></span> {{ post.author }}
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-12">
        <h2>Tool vorschlagen</h2>
        <form action="{{ site.form_action }}" method="POST">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" name="email" type="email" placeholder="Email *" required>
              </div>
              <div class="form-group">
                <input class="form-control" name="tool_name" type="text" placeholder="Name des Tools *" required>
              </div>
              <div class="form-group">
                <input class="form-control" name="tool_link" type="text" placeholder="Link zum Tool *" required>
              </div>
              <div class="form-group">
                <input class="form-control" name="tool_author" type="text" placeholder="Author">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" name="tool_description" id="message" placeholder="Beschreibung *" required rows="6"></textarea>
              </div>
            </div>
            <div class="col-lg-12 text-center">
              <button id="sendMessageButton" class="btn btn-xl btn-primary" type="submit">Vorschlagen</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
