<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ site.title }}</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:700|Roboto" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js"></script>

    <link href="{{ site.github.url }}/assets/css/styles.css" rel="stylesheet" />

    <script>
        $.getJSON('/tools.json', function (data) {
            var options = {
                shouldSort: true,
                tokenize: true,
                threshold: 0.6,
                location: 0,
                distance: 100,
                maxPatternLength: 32,
                minMatchCharLength: 3,
                id: "id",
                keys: [
                    "title",
                    "link",
                    "category",
                    "tags"
                ]
            };
            var fuse = new Fuse(data, options);
            $('#search').keyup(function () {
                var q = $(this).val();
                var targets = $("ul.posts>li");
                if (q.length <= 2) {
                    targets.show();
                    return;
                }
                var result = fuse.search(q);
                targets.hide();
                $.each(result, function (_index, id) {
                    $('#' + id).show();
                });
            });
        });

    </script>

</head>

<body id="top">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <div class="container">
                <div class="col">
                    <a class="navbar-brand js-scroll-trigger" href="/#top">{{ site.title }}</a>
                </div>
                <div class="col">
                    <form class="" role="search">
                            <input class="form-control" id="search" type="text" placeholder="Suche" />
                    </form>
                </div>
        </div>
    </nav>

    {{ content }}

    <section id="bg-gray">

</body>

</html>
