<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ site.title }}</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:700|Roboto" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js"></script>

    <link href="{{ '/assets/css/styles.css' | relative_url }}" rel="stylesheet" />

    <script>
        var filterResults = function(results) {
            var targets = $("ul.posts>li");
            $('.category').show();

            if (results.length <= 0) {
                targets.show();
                return;
            }

            targets.hide();

            for(result of results) {
                $('#' + result.item).show();
            }

            $(".category:not(:has(>ul.posts>li:visible))").hide();
        };

        $.getJSON('{{ "/tools.json" | relative_url }}', function (data) {
            var options = {
                shouldSort: true,
                includeScore: true,
                includeMatches: true,
                tokenize: true,
                threshold: 0.2,
                maxPatternLength: 32,
                minMatchCharLength: 3,
                id: "id",
                keys: [
                    {
                        name: 'title',
                        weight: 0.4
                    }, {
                        name: 'category',
                        weight: 0.1
                    }, {
                        name: 'link',
                        weight: 0.4
                    }, {
                        name: 'tags',
                        weight: 0.1
                    }
                ]
            };
            var fuse = new Fuse(data, options);
            $('#search').keyup(function () {
                var q = $(this).val();
                var results = fuse.search(q);
                filterResults(results);
            });
        });

    </script>

</head>

<body id="top">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <div class="container">
                <div class="col">
                    <a class="navbar-brand js-scroll-trigger" href="{{ '/#top' | relative_url }}">{{ site.title }}</a>
                </div>
                <div class="col">
                    <form class="" role="search">
                            <input class="form-control" id="search" type="text" placeholder="Suche" />
                    </form>
                </div>
        </div>
    </nav>

    {{ content }}

<footer>
<div class="container">
  <div class="row">
    <div class="col">
        <h4></h4>
    </div>
    </div>
    </div>
        </footer>

</body>

</html>
