<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ site.title }}</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:700|Roboto" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js"></script>

    <link href="{{ '/assets/css/styles.css' | relative_url }}" rel="stylesheet" />
    <script src="{{ '/assets/javascripts/filter.js' | relative_url }}" type="text/javascript"></script>

</head>

<body id="top">
    <header class="fixed-top">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container">
                <div class="col">
                    <a class="navbar-brand" href="{{ '/' | relative_url }}">
                        <img src="{{ '/assets/logo.svg' | relative_url }}" />
                        {{ site.title }}</a>
                </div>
                <div class="col">
                    <form action="{{ '/' | relative_url }}" method="GET" role="search">
                        <input class="form-control" id="search" type="text" name='q' placeholder="Suche" autofocus />
                    </form>
                </div>
            </div>
        </nav>
    </header>

    {{ content }}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            2019 by Diego Steiner / Filou
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/diegosteiner/pfadi-toolbox"><span class="fa fa-github-alt"></span> View on GitHub</a>
                        </li>
                    </ul>
                    <p class='text-muted'>Die Inhalte von pfadi-toolbox wurden mit Sorgfalt und nach bestem Gewissen erstellt. Dennoch übernimmt
                        der Anbieter dieser Webseite keine Gewähr für die Aktualität, Vollständigkeit und Richtigkeit der
                        bereitgestellten Seiten und Inhalte.</p>
                    <p class='text-muted'>Die Webseite enthält sog. „externe Links“ (Verlinkungen) zu anderen Webseiten, auf deren Inhalt der Anbieter
                        der Webseite keinen Einfluss hat. Aus diesem Grund kann der Anbieter für diese Inhalte auch keine
                        Gewähr übernehmen. Für die Inhalte und Richtigkeit der bereitgestellten Informationen ist der jeweilige
                        Anbieter der verlinkten Webseite verantwortlich. Zum Zeitpunkt der Verlinkung waren keine Rechtsverstöße
                        erkennbar. Bei Bekanntwerden einer solchen Rechtsverletzung wird der Link umgehend entfernen.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    {% include analytics.html %}

</body>

</html>
